extends ../../layout/default.pug
include ../../mixins/mixins.pug
include ../../mixins/viewProduct.pug
block main 
    .container.my-3
        .row
            .col-12
                .box-head
                    +box-mixins("Sản Phẩm Nổi Bật")
        +viewProduct(features)