*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --primary-color:#ef473a;
    --background-color:#fad0c4 ;
    --sub-title-color:#5A6473;
    --title-color:#000339;
}
html{
    font-size: 62.5%;
    font-family: "Poppins",sans-serif;
    scroll-behavior: smooth;
}
/* common */
a{
    text-decoration: none;;
}
.content{
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn{
    min-width: 98px;
    border-radius: 8px;
    background: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 19px;
    display: inline-block;
}
.row{
    display: flex;
    justify-content: space-between;
}
.line-clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.title{
    color: var(--title-color);
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.sub-title{
    color: var(--sub-title-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}
/* ______________________Header_______________________ */
header{
    position: relative;
    height: 100vh;
    background: var(--background-color);
}
header .decorate{
    left: 20px;
}
.search {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    
}

.search input{
    width: 60%;
    height: 40px;
    border-radius: 5px 0 0 5px;
    padding:10px;
    border: 3px solid #fff;
}
.search button i{
    background-color: var(--primary-color);
    font-size: 1.5rem;
    line-height: 34px;
    border: none;
    padding: 0 20px 0;
    border:  3px solid #fff;
    border-radius: 0px;


}
button{
    border: none;
}
.nav-bar{
    display: flex;
    align-items: center;
    padding-top: 0px;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul a{
    color: #4F5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 15px ;
}
.nav-bar ul a:hover{
    color: #000
}
.nav-bar img{
    margin-right:50px ;
}
.nav-bar .action{
    margin-left: auto;
}
.action .sign-in{
    color: #0F1B4C;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 18px;
}
.action .sign-in:hover,
.action .sign-up:hover{
    opacity: 0.5;
}
.hero{
    margin-top: 30px;
    width: 51%;
}
.hero .sub-title{
    color: var(--sub-title-color);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.18px;
    margin-bottom: 8px;
}
.hero .title{
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 76px; /* 118.75% */
}
.hero .desc{
    color: var(--sub-title-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 32px;
    margin: 30px 9px 40px 0;
}
.hero .btn {
    padding: 10px 37px;
}
.hero .group{
    position: absolute;
    bottom: -60px;
    right: calc(((100% - 1110px) / 2) - 100px);
}
/* _________________Advertise____________________ */
.advertise {
    margin-top: 50px;
}
.advertise .panel{
    display: flex;
    justify-content: space-between;
    
}
.advertise .ad-big{
    object-fit: cover;
    width: 65%;
    height: 230px;
}
.small{
    object-fit: cover;
    height: 115px;
}
.ad-small{
    margin-left: 5px;
}
.advertise .ic{
    margin-top: 20px;
}
.advertise .menu{
    width: 120px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
}
.advertise .icon{
    width: 50px;
    margin-bottom: 5px;
    cursor: pointer;
}
.advertise .icon:hover{
    padding: 2px;
}
/* ______________________Client_______________________ */
.client{

    margin-top: 80px;
}

.client .desc{
    color: var(--sub-title-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 20px;
    margin-top: 0px;
}
.client .content {
    padding-top:43px;
    padding-bottom:41px;
}
.client .images{
    margin-top: 70px;
}
/* ______________________Guide_______________________ */
.guide{
    padding-top: 40px;
}
.guide .content{
    margin-top: 79px;
    margin-bottom: 79px;
    width: 685px;
    text-align: center;
}
.guide .title{
    position: relative;
}
.guide .title::before{
    position: absolute;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: var(--title-color);
    top: -10px;
    left: 50%;
    transform: translateX(-50%);

}
.guide .desc{
    color: var(--sub-title-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9; /* 187.5% */
    margin: 20px auto 0;
    width: 459px;
}
.list-guide{
    margin-top: 70px;
}
.guide .sub-title{
    color: #3B3C45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 26px;
    margin-bottom: 10px;
}
.guide .link{
    color: #0689FF;
    font-size: 1.4rem;
    font-weight: 600;
}
.guide .btn{
    display: inline-block;
    margin-top: 60px;
}
/* ______________________Featured_______________________ */
.featured .content{
    margin-top: 110px;
    margin-bottom: 110px;
}
.featured .link{
    color: #0689FF;
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 8px;
}
.featured .head{
    margin-top: 15px;
}
.featured .list{
    margin-top: 70px;
}
.featured .item a:hover{
    opacity: 0.8;
}
.featured .list .title a{
    color: var(--title-color) ;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin-top: 17px;
}
.featured .list .title a:hover{
    color: #555;
}
.w350{
    width: 350px;
}
.featured .body{
    margin-left: 20px;
    width: 330px;

}
.list .desc{
    color: var(--sub-title-color);
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 11px;
}
.list .infor .sub-icon{
    color: var(--sub-title-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: 0.14px;
    margin-right: 22px;
}
.list .infor {
    margin-top: 22px;
}
/* ____________Stats___________ */
.stats{
    margin-top: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.stats .content{
    width: 1048px;
}
.stats .img-block{
    position: relative;
}
.stats .img-block,
.stats .infor{
    width: 50%;
}
.stats .title{
    width: 269px;
    line-height: 1.28;
    margin-bottom: 20px;
}
.stats .sub-title{
    width: 309px;
}
.stats .img-block img{
    width: 520px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}
.stats .infor{
    padding: 79px 0 0 165px;
}
.stats .number{
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin-top: 110px;
    margin-bottom: 24px;
}
.stats .desc{
    color: var(--sub-title-color);
    font-size: 1.8rem;
    font-weight: 500;
}
.stats .card img{
    width: 27px;
    height: 17px;
    margin-right: 23px;
    border-radius: 0;
}
.stats .card{
    width: 239px;
    height: 252px;
    position: absolute;
    top: 0;
    left: 40px;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 12px;
}
.stats .row{
    align-items: center;
    margin-top: 45px;
    margin-left: 22px;
}
.stats .card strong{
    margin-bottom: 0;
}
.stats .card .sub-title{
    color: var(--sub-title-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    width: 194px;
    margin-left: 22px;
    margin-top: 8px;
}
.stats .avartar-block{
    margin-left: 22px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 23px;
    gap: 16px 14px;
}
.stats .avartar-group img{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0;
    margin-left: -3px;
}
/* _______Subscript ____________*/
.subscription{
    margin-top: 51px;
    margin-bottom: 55px;
}
.subscription .content{
    border-radius: 20px;
    background-color:var(--primary-color);
    padding-bottom: 110px;
}
.subscription .body .sub-title{
    color: #FFF;
    margin: 15px 0 20px 0;
}
.subscription .body h2{
    padding-top: 170px;
    color: #FFF;
}
.subscription .body {
    margin-left: 80px;
    position: relative;
}
.subscription .body .btn{
    background-color: #fff;
    color: #ef473a;
}
.subscription .subcribe{
    position: absolute;
    top: 5px;
    right: 221px;
}
.decorate{
    position: absolute;
    max-width: 200px;
    top:0;
}
/* _________Footer___________ */
.footer .content{
    padding-top: 50px;
    padding-bottom: 130px;
    position: relative;
}
.footer .title{
    color: #1C1C1D;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 42px;
}
.footer .list{
    width: 25%;
}
.footer .list .link{
    font-size: 2rem;
    margin-top: 10px;
}
.footer a{
    color: #555;
}
.footer .logo{
    position: absolute;
    bottom: 0;
}
.footer .logo-footer{
display: flex;
}
.copyright{
    margin-left: 75%;
    margin-top: 0px;
    color: #ccc;
}
/* ________________recommened__________________- */
.recommened{
    margin-top: 50px;
}
.recommened .sub-title{
    margin-bottom: 20px;
}
.recommened .product .sub-title{
    margin: 5px 0 5px 0;
    width: 180px;
}
.recommened .product .pr-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.recommened .product{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    cursor: pointer;
}
.recommened .love{
    position: absolute;
    top: 10px;
    left: -5px;
    width: 50px;
}
.recommened .product:hover{
    border: 1px solid var(--primary-color);
}
.recommened .pr-block{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.recommened .percent{
    position: absolute;
    min-width: 50px;
    height: 25px;
    background-color: #ffce3d;
    font-size: 1.5rem;
    color: var(--primary-color);
    text-align: center;
    line-height: 25px;
    right: 0;
    top: 0;
}
.recommened .infor{
    margin-left: 10px;
    margin-bottom: 10px;
}
.recommened .price{
    display: flex;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
}

.recommened .price-vi{
    color: var(--sub-title-color);
    text-decoration: line-through;
    margin-right: 20px;
    
}
.recommened .price-re{
    color: var(--primary-color);
    margin-bottom: 10px;
}
.recommened .rate {
    display: flex;
    align-items: center;
    
}
.recommened .rate .star{
    height: 10px;
    margin-right: 20px;
}