extends ../../layout/default.pug

block main 
    p.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam ab, omnis quaerat eveniet laboriosam tempore expedita, 
        commodi deleniti exercitationem laudantium nisi quisquam voluptatum veritatis eius quo necessitatibus? Repellat, magni inventore.