.sider 
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Tong quan
            li 
                a(href="/admin/product") Danh sách sản phẩm
            li 
                a(href="/admin/product-category") Danh mục sản phẩm
            