extends ../../layout/default.pug
include ../../mixins/alert.pug

block main 
    +alertError(4000)
    +alertSuccess(4000)
    if (permission.title) 
        h1(class="mb-4") #{permission.title}
    if (permission.description)
        div(class="mb-4") #{permission.description}

    a(class='btn btn-warning btn-sm'
        href=`${prefixAdmin}/permission/edit/${permission.id}`
        ) Chỉnh sửa